<div class="container">
	<div class="inbox-wrapper">
		<div class="hero">
			<h1>Welcome to MyMessage!!</h1>
		</div>
		<% if user_signed_in? %>
			<%= link_to 'Chat', messages_path, class: 'btn btn-secondary btn-lg' %>
			<%= link_to 'Exit', destroy_user_session_path, method: :delete, class: 'btn btn-secondary btn-lg' %>
		<% else %>
			<p><%= link_to "Log in as user", new_user_session_path, class: "btn btn-secondary btn-lg" %></p> 
			<p>			<%= link_to "Log in as trainer", new_trainer_session_path, class: "btn btn-secondary btn-lg" %>
</p>
		<% end %>
	</div>
</div>
